<% page_title "Add #{attachment.readable_type} attachment to: #{attachment.attachable_model_name}" %>

<div class="row">
  <section class="col-sm-8">
    <h1>Add <%= attachment.readable_type %>  attachment to <%= attachment.attachable_model_name %></h1>

    <%= render 'form', attachable: attachable %>
  </section>
  <% if attachment.html? %>
    <div class="col-sm-4">
      <%= simple_formatting_sidebar hide_inline_attachments_help: true, show_footnote_help: true %>
    </div>
  <% end %>
</div>
