<div class="format-advice">
  <p><strong>Use this format for:</strong> Guidance for professional or specialist users so that they can complete a defined task.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <%= render partial: 'inline_attachments_info', locals: { form: form, edition: edition } %>
    <%= render partial: 'nation_fields', locals: { form: form, edition: edition } %>
  <% end %>
<% end %>
