<div class="format-advice">
  <p><strong>Use this format for:</strong> Announcements specific to one or more world location. Don’t duplicate news published by another department.</p>
</div>

<%= edition_editing_tabs(edition) do %>
  <%= standard_edition_form(edition) do |form| %>
    <%= render 'inline_attachments_info', form: form, edition: edition %>
  <% end %>
<% end %>
