<% page_title @html_attachment.title %>
<% page_class "html-publications-show" %>

<div class="block publication-external">
  <div class="inner-block floated-children">

      <% @organisations.each do |organisation| %>
        <div style="float: left; margin: 1em; width: 200px; height: 200px">
        <%= content_tag_for(:div, organisation, class: organisation_brand_colour_class(organisation)) do %>
          <%= link_to organisation_path(organisation),
                      class: logo_classes(organisation: organisation, size: 'medium', stacked: true) do %>
            <span><%= organisation_logo_name(organisation) %></span>
          <% end %>
        <% end %>
        </div>
      <% end %>

  </div>
</div>
